html, body {
	overscroll-behavior-y: contain;
}

body {
	background-color: #fafaff;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #fafaff;
}

.tab button {
	background-color: #fafaff;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 200%;
}

.tab button.active {
	background-color: #ccd;
}

.tabcontent {
	background-color: #fafaff;
	display: none;
	/*padding: 6px 12px;*/
	border: 1px solid #ccc;
	border-top: none;
	font-size: 250%;
} 

.block {
	background-color: #fafaff;
	height: 70px;
	padding: 20px;
	position: relative;
	border-width: 1px;
	border-color: #dddddd;
	border-style: dashed;
	outline: none;
	font-family: sans-serif;
}

.block.valid {
	background-color: #f0fff0;
}

.block.invalid{
	background-color: #fFd0d0;
}

.block.for_button {
	padding: 5px;
	height: auto;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input_field {
	display: inline-block;
	text-align: center;
	min-width: 60px;
	width: 25%;
	margin-right: 20px;
	margin-left: 20px;
	top: 50%;
	transform: translateY(-50%);
	float: left;
	position: relative;
	font-size: 100%;
}

.quantity {
	display: inline-block;
	width: 55%;
	text-align: right;
	padding-right: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
}

.a_quantity {
	display: inline-block;
	width: 55%;
	text-align: right;
	padding-right: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
}

.answer {
	display: inline-block;
	width: 10%;
	text-align: left;
	padding-left: 30px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
}

.unit {
	display: inline-block;
	width: 5%;
	text-align: left;
	padding-right: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
}

.cb_label {
	display: inline-block;
	width: 22%;
	text-align: left;
	padding-left: 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	float: left;
}

.switch {
	position: relative;
	display: inline-block;
	width: 10%;
	height: 80%;
	top: 50%;
	transform: translateY(-50%);
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
}

.slider:before {
	position: absolute;
	content: "";
	height: 80%;
	width: 48%;
	left: 4px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #fafaff;
}

input:checked + .slider {
	/*background-color: #2196F3;*/
	background-color: #666;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translate(80%, -50%);
	-ms-transform: translateX(80%, -50%);
	transform: translateX(80%, -50%);
}

h1 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 120%;
}

h2 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 100%;
}

/*.collapsible {
	background-color: #eee;
	color: #444;
	padding: 18px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: center;
	width: 100%;
	height: 100%;
	//display: block;
	border: none;
	text-align: left;
	outline: none;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 100%;
}*/

.wide_button {
	background-color: #eee;
	color: #444;
	width: 100%;
	//height: 30px;
	padding: 18px;
	//padding-top: 0px;
	//padding-bottom: 0px;
	vertical-align: center;
	border: none;
	text-align: center;
	outline: none;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 100%;
	display: block;
}

.wide_button.collapsible {
	text-align: left;
	float: center;
}

.wide_button.cross_button {
	width: 50px;
	margin-left: -50px;
	position: relative;
	float: right;
	text-align: center;
}



.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #fafaff;
}

.just_button {
	background-color: #eee;
	color: #444;
	padding: 18px;
	width: 30%;
	margin: 0px;
	border: solid #ddd;
	text-align: center;
	outline: none;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 80%;
}



.modal {
  display: none;
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative; 
  background-color: #fafaff;
  padding: 20px; 
  margin: auto; 
  width: 80%;  
}
.modal-header {
  position: relative; 
  background-color: #eee;
  padding: 20px; 
  margin: auto; 
  width: 80%;
  font-family: sans-serif;
  font-size: 120%;
  font-weight: bold;
}
.modal-footer {
  position: relative; 
  background-color: #fafaff;
  padding: 20px; 
  margin: auto; 
  width: 80%;  
  text-align: right;
}
.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}
/*@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
*/

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td.dtc {
	/*border: 1px solid #dddddd;*/
	/*border: 0px;*/
	text-align: right;
	padding: 8px;
	padding-right: 30px;
	outline: none;
}

tr.dtr:nth-child(even) {
	background-color: #f1f1f1;
}


th {
	text-align: center;
	font-size: 80%;
	border-collapse: collapse;
}

th.course {
	text-align: right;
	width: 10em;
	padding-right: 50px;
}

td.course {
	text-align: right;
	width: 10em;
	padding-right: 50px;
}

td.more {
	text-align: left;
	width: 1em;
	border-bottom: solid ;
	border-collapse: collapse;
}

td.less {
	text-align: left;
	width: 1em;
	border-collapse: collapse;
}

td.ctw {
	text-align: center;
	width: 7em;
	border-bottom: solid ;
	border-collapse: collapse;
	
}

td.ctw.first {
	border-top: none ;
}

td.ctw.last {
	border-bottom: none ;
}

td.drift {
	text-align: center;
	border-collapse: collapse;
	font-size: 120%;
}

td.course.gray {
	background-color: #f1f1f1;
}

td.drift.gray {
	background-color: #f1f1f1;
}

td.more.gray {
	background-color: #f1f1f1;
}

td.less.gray {
	background-color: #f1f1f1;
}

